# -- Symfony2 -----------------------------------------
app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/config/parameters.ini
app/config/parameters.yml
app/cache/*
app/logs/*
vendor/*
web/bundles/*
web/css/*
web/js/*
web/images/*
web/uploads/rrhh/*
web/uploads/montacargas/*


# -- Composer -----------------------------------------
composer.lock
composer.phar

# -- PHPUnit ------------------------------------------
app/phpunit.xml  

# -- Editores -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

# phpstorm
.idea/

# textmate
*.tmproj
*.tmproject
tmtags

# sublimetext
/*.sublime-project
*.sublime-workspace

# netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.gitignore
!.htaccess
*~

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes


# archivos nuevos de toyocosta

hilux/

# archivos de toyoosta viejo

1800-toyocosta.jpg
Accesoriza-tu-FJ.jpg
Accesoriza-tu-Fortuner.jpg
Accesoriza-tu-Hilux.jpg
BKPindex.php
BKP\250repuesto_mas.php
Concesionario[1].jpg
Concesionario[1]2.jpg
Copa.png
Mail/
Mail-Corolla-2.jpg
Mail-Corolla-n.jpg
Mail-Corolla.jpeg
Mail-Corolla.jpg
Mail-Highlander.jpg
Mail-Hilux-Diesel.jpg
Mail-Hilux-n.jpg
Mail-PCT2.jpg
Mail-Usados-n.jpg
Mail-citas-talleres.jpeg
Mail-citas-talleres.jpg
Mailing/
Mil-Hilux-Diesel.jpeg
Promo-fortuner.jpg
Toyota-News-Mayo.pdf
Toyota-News.jpg
_1mantenimiento.php
_4runner-lp/
_4runner-lp.tar.gz
_4x4/
_cgi-bin/
_copatoyocosta/
_elegidos/
_mantenimiento.php
_navidad_fondo.jpg
_pirelli/
admin/
alquiler.php
archivos/
autos.php
avaluo.php
bak-citaT.php
banner-bonos.php
banner.php
blog/
btn_participar.png
cabecera_flotas.jpg
camionetas.php
capacitacion_mail.jpg
cargar-seminuevo.php
cargar-usado.php
cash_mail.png
cgi-bin/
cita.php
cita_talleres.php
cita_talleres_ajax.php
cita_talleres_ajax.php.old
citas.php
con_sas.jpg
concesion1.jpg
concesion2.jpg
contacto.php
contacto2.php
contactobk.php
contenido.php
copatoyocosta.jpg
cotizar.php
cotizar2.php
cotizar3.php
cotizar_seminuevo.php
cotizarform.php
cotizarmontacg.php
cotizarotro.php
css/
default.html
deleytoyota.com/
demo/
detalle_terminos.html
encuesta/
error_log
estado_seminuevo.php
estilos.css
exonerados/
ficha_seminuevo.php
ficha_usado.php
fin021.jpg
fin02_a1.jpg
fin031.jpg
fin03_a1.jpg
flotas/
galeria/
google90c3205d6eda17b4.html
gran-feria-de-compra-de-vehiculos-banner-ecuagol/
gran-feria-de-compra-de-vehiculos-banner-el-emprendedor/
gran-feria-de-compra-de-vehiculos-banner-la-republica/
gran-feria-de-compra-de-vehiculos-mail-blackbelt/
gran-feria-de-compra-de-vehiculos-mail-datawebmarket/
gran-feria-de-compra-de-vehiculos-mail-hormiga-design/
gran-feria-de-compra-de-vehiculos-mail-innvento/
gran-feria-de-compra-de-vehiculos-mail-seowebmaster/
gran-feria-de-compra-de-vehiculos-mail-soluciones-empresariales/
gran-feria-de-compra-de-vehiculos-mail-toyocosta/
gran-feria-de-compra-de-vehiculos-pauta-facebook/
gran-feria-de-compra-de-vehiculos-pauta-google/
gran-feria-de-compra-de-vehiculos-pauta-moviles/
hibridos.php
hilux-diesel/
hilux-diesel-2/
hinchada-hilux/
hinchadahilux/
images/
img/
img-popup.png
inc/
includes/
index-bak.php
index.php
informe-subasta/
ingreso.php
js/
login.php
login_cambio.php
loginotro.php
loginpage.php
loselegidos.com.ec/
lp/
lp-Toyota-Fortuner-Banner/
lp-Toyota-Fortuner-Mailing/
lp-Toyota-Hilux-mail/
lp-Toyota-Universo1/
lp-Toyota-Universo2/
lp-Toyota-Universo3/
lp-Venta-seminuevo-AE/
lp-Venta-seminuevo1/
lp-Venta-seminuevo2/
lp-accesorios/
lp-ae-hyundai/
lp-ae-vitara/
lp-autosEcuador/
lp-autos_ecuador/
lp-bonos/
lp-cabina-doble/
lp-cabina-sencilla/
lp-cash/
lp-cash-black/
lp-cash-bumeran/
lp-cash-bumeran-1/
lp-cash-seo/
lp-cash-soluciones/
lp-cash-soluciones1/
lp-cashporusado/
lp-corolla/
lp-dakar-youvity/
lp-deleytoyota/
lp-deleytoyota2/
lp-dia-del-disenador/
lp-dia-tierra/
lp-elUniverso/
lp-exonerados/
lp-exonerados-black/
lp-exonerados-black2/
lp-exonerados-bumeran/
lp-exonerados-impuestos/
lp-exonerados-impuestos-1/
lp-exonerados-impuestos-2/
lp-exonerados-impuestos-3/
lp-exonerados-impuestos-4/
lp-exonerados-impuestos-5/
lp-exonerados-impuestosMega/
lp-exonerados-plan/
lp-exonerados-plan2/
lp-febrero-inolvidable/
lp-feria-tomas-face/
lp-feria-tomas-goo/
lp-feria-tomas-invento/
lp-feria-tomas-seo/
lp-flotas-bumeran/
lp-flotas-invento/
lp-fortuner/
lp-fortuner-1/
lp-fortuner-2/
lp-fortuner-3/
lp-fortuner-4/
lp-fortunerPromo-0714-ads-Facebook/
lp-fortunerPromo-0714-ads-Google/
lp-fortunerPromo-0714-banner-Ecuavisa/
lp-fortunerPromo-0714-banner-ecuagol/
lp-fortunerPromo-0714-mail-BlackBelt/
lp-fortunerPromo-0714-mail-Bumeran/
lp-fortunerPromo-0714-mail-Hormigadesign/
lp-fortunerPromo-0714-mail-Innvento/
lp-fortunerPromo-0714-mail-Seowebmaster/
lp-fortunerPromo-0714-mail-SolucionesEmpresariales/
lp-fortunerPromo-0714-mail-Toyocosta1/
lp-fortunerPromo-0714-mail-Toyocosta2/
lp-fortunerPromo-0714-mail-Zmailing/
lp-fortunervshilux-1/
lp-fortunervshilux-2/
lp-granferiaseminuevos/
lp-hilux/
lp-hilux-cabina-doble/
lp-hilux-cabina-sencilla/
lp-hilux-cs-bumeran/
lp-hilux-cs-soluciones/
lp-hilux-edicion-especial/
lp-hilux-edicion-especial-2/
lp-hilux-edicion-especial-3/
lp-hilux-especial-1/
lp-hilux-especial-2/
lp-hilux-especial-3/
lp-hilux-especial-4/
lp-hilux-especial-5/
lp-hilux-seowebmaster/
lp-hilux1/
lp-hilux_turbo/
lp-innova-ecuagol/
lp-innova-invento/
lp-innova-toyocosta/
lp-innova-universo-cuadrado/
lp-innova-universo-fullbanner/
lp-innova-universo-megabanner/
lp-kit_hinchahilux_e/
lp-liquidacion-banner/
lp-liquidacion-emprendedor/
lp-liquidacion-seminuevos-ads-facebook/
lp-liquidacion-seminuevos-ads-google/
lp-liquidacion-seminuevos-banner-ecuagol/
lp-liquidacion-seminuevos-banner-ecuavisa/
lp-liquidacion-seminuevos-banner-toyocosta/
lp-liquidacion-seminuevos-banner-youvity/
lp-liquidacion-seminuevos-mail-blackbelt/
lp-liquidacion-seminuevos-mail-bumeran/
lp-liquidacion-seminuevos-mail-innvento/
lp-liquidacion-seminuevos-mail-seowebmaster/
lp-liquidacion-seminuevos-mail-soluciones-empresariales/
lp-liquidacion1/
lp-liquidacion2/
lp-liquidacion3/
lp-liquidacion4/
lp-mailing/
lp-navidenio_/
lp-nuevosrav4/
lp-pagamos-A1/
lp-pagamos-U1/
lp-pagamos-U2/
lp-pagamos-U3/
lp-pagamos_cash_por_usado/
lp-pagamos_cash_por_usado-1/
lp-pagamos_cash_por_usado-2/
lp-pagamos_cash_por_usado-3/
lp-pagamos_cash_por_usado-4/
lp-pagamos_cash_por_usado-5/
lp-papa-autos/
lp-papa-black/
lp-papa-facebook/
lp-papa-google/
lp-papa-soluciones/
lp-papa-universo/
lp-pickups-bannerweb-eluniverso-bannercuadrado/
lp-pickups-bannerweb-eluniverso-fullbanner/
lp-pickups-bannerweb-eluniverso-megabanner/
lp-pickups-mail-bumeran/
lp-pickups-seo-webmaster/
lp-pickups-soluciones-empresariales/
lp-pirelli-ads-facebook/
lp-pirelli-ads-google/
lp-pirelli-mail-blackbelt/
lp-pirelli-mail-bumeran/
lp-pirelli-mail-fastemailing/
lp-pirelli-mail-hormiga-design/
lp-pirelli-mail-innvento/
lp-pirelli-mail-seowebmaster/
lp-pirelli-mail-soluciones-empresariales/
lp-pirelli-mail-toyocosta/
lp-pirelli-mail-zmailing/
lp-prius/
lp-priusc1/
lp-priusc2/
lp-priusc3/
lp-priusc4/
lp-priusc5/
lp-rav4/
lp-rav_4/
lp-rav_4-2/
lp-recompensa/
lp-recompensa-1/
lp-recompensa-2/
lp-recompensa-3/
lp-recompensa-autos/
lp-rent/
lp-rent-1/
lp-rent-banner/
lp-rentadeflotas/
lp-reventon-A1/
lp-reventon-U1/
lp-reventon-U2/
lp-reventon-U3/
lp-revision-blackbelt1/
lp-revision-blackbelt2/
lp-revision-bumeran1/
lp-revision-bumeran2/
lp-revision-facebook/
lp-revision-fastmailing/
lp-revision-google/
lp-revision-hormiga/
lp-revision-innvento1/
lp-revision-innvento2/
lp-revision-seo1/
lp-revision-seo2/
lp-revision-toyocosta/
lp-se-busca-toyota/
lp-se-busca-toyota-/
lp-semi-bonos/
lp-semi-bonos-black/
lp-semi-bonos-bumeran/
lp-semi-cuadrado/
lp-semi-full/
lp-semi-mega/
lp-seminuevo-cotice-1/
lp-seminuevo-cotice-2/
lp-seminuevos/
lp-seminuevos-1/
lp-seminuevos-2/
lp-seminuevos-BD1/
lp-seminuevos-BD2/
lp-seminuevos-BD3/
lp-seminuevos-BD4/
lp-seminuevos-bumeran/
lp-seminuevos-invento/
lp-seminuevos-liquidacion/
lp-seminuevos-liquidacion2/
lp-seminuevos-liquidacion3/
lp-seminuevos-liquidacion4/
lp-seminuevos-liquidacion5/
lp-seminuevos-liquidacion6/
lp-seminuevos-liquidacion7/
lp-seminuevos-liquidacion8/
lp-soluciones-black/
lp-stock-black/
lp-stock-bumeran/
lp-stocktoyocosta-bannerweb-ecuagol/
lp-stocktoyocosta-bannerweb-eluniverso_cuadrado/
lp-stocktoyocosta-bannerweb-eluniverso_fullbanner/
lp-stocktoyocosta-bannerweb-eluniverso_megabanner/
lp-stocktoyocosta-mail-toyocosta-1/
lp-stocktoyocosta-mail-toyocosta-2/
lp-stocktoyota-mail-innvento/
lp-temporada/
lp-toyota/
lp-toyota-A1/
lp-toyota-U1/
lp-toyota-U2/
lp-toyota-U3/
lp-toyota-bumeran/
lp-toyota-dakar/
lp-toyota-fast/
lp-toyota_por_toyota/
lp-toyotahon1/
lp-toyotahon2/
lp-toyotahon3/
lp-toyotahon4/
lp-toyotahon5/
lp-toyotahon6/
lp-toyotaxtoyota/
lp-toyotaxtoyota2/
lp-universo-hyundai/
lp-universo-vitara/
lp-venta-A1/
lp-venta-A2/
lp-venta-Black/
lp-venta-Hormiga/
lp-venta-Invento/
lp-venta-Mailing/
lp-venta-Seo/
lp-venta-Soluciones/
lp-venta-U1/
lp-venta-U2/
lp-venta-U3/
lp-venta-ZMailing/
lp-venta-fast/
lp-yaris-pack/
lp-yaris-pack1/
lp-yaris-pack2/
lp-yaris-pack3/
m/
mail-elegidos.jpg
mail-liquidacion.jpg
mail-pct.jpg
mail-revision-vehicular.jpg
mail_flotas.png
mailer/
mailing-liquidacion.jpg
mailing-lp-pirelli.jpg
mantenimiento.php
mi_cuenta.php
mi_cuentabk.php
mi_cuentamod.php
mi_cuentaotro.php
mobile_detect.php
montacarga-vh.php
montacargas.php
navidad_fondo.jpg
navidad_form.jpg
navidad_form1.jpg
nohayideamala/
noticia.php
noticias.php
page/
peugeot.com.ec/
peugeotecuador.com/
picdemo.php
pirelli/
planes.php
postventa.php
priusc-lp/
process.php
processSv.php
prueba.html
publique_seminuevo.php
r-nt.php
r-puestos.php
recaptchalib.php
registro-seminuevos.php
registro-usados.php
registro.php
registro_BK.php
rent/
repuesto_mas.php
repuestos.php
reserva.php
reserva_compra.php
rrhh.php
sac/
sas.php
seminuevo-bak.php
seminuevo.php
seminuevo_info.php
seminuevobk.php
seminuevos-corolla.jpg
seminuevos-mail.jpg
seminuevos.mail.jpg
serverTime.php
sin_sas.jpg
sitemap.xml
somoslahinchada.com/
subasta/
subasta.php*
talleres.php
template_email_avaluopintura.html
template_email_citareserva.html
template_email_citataller.html
template_email_citatestdrive.html
template_email_contacto.html
template_email_cotizacion.html
template_email_cotizacion_montacarga.html
template_email_cotizacion_seminuevo.html
template_email_rnt.html
template_email_rrhh.html
temporada.jpg
test.php
test_mantenimiento.php
testdrive.php
todoterreno.php
toyocosta.com/
toyocostatienetalento/
toyotaxtoyota_mail.jpg
uploads/
usados-popup.php
usados_mas.php
validar.php
vehiculo.php
vehiculo_especificaciones.php
vehiculo_galeria.php
vehiculo_mantenimiento.php
BKPrepuesto_mas.php
web/error_log
vehiculo_modelos.php
channel.html
.ftpquota
.htaccess
