
  {% for vehiculo  in vehiculos %}
    <div class="contenedor-submenu-item">
                                
      <div class="container-fluid">
                              
        <div class="row">
          <div class="col-md-12 text-center">

            <div class="nombre-submenu">{{ vehiculo.nombre }}</div>
            <img src="{{ asset('uploads/vehiculo/thumb/' ~ vehiculo.imagenThumb ) }}" alt="" class="img-responsive img-center" />
            <a class="link-submenu" href="{{ path('custom_vehiculo', {"categoria": vehiculo.categoria.nombre,"nombre": vehiculo.nombre ,'id': vehiculo.id } )  }}">Explorar</a>
            <div class="sp"></div>
            <a class="link-submenu" href="{{ path('custom_vehiculo', {"categoria": vehiculo.categoria.nombre,"nombre": vehiculo.nombre ,'id': vehiculo.id } )  }}#cotizar">Cotizar</a>
                        
          </div>
          

        </div>
      </div>
    </div>
    
  {% endfor %}

