
{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}

{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

<div class="row banner-lp visible-md visible-lg visible-sm hidden-xs" style="top:50px;">
	{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/landings/semi.jpg' %}
	<img src="{{ asset_url }}" alt=""  style="width:100%;" class="img-responsive" />
	{% endimage %}
</div>

<div class="row banner-lp hidden-md hidden-lg hidden-sm visible-xs">
	{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/landings/semi-m.jpg' %}
	<img src="{{ asset_url }}" alt=""  style="width:100%;" class="img-responsive" />
	{% endimage %}
</div>


<div class="container">

	<div class="row lp-contenido">


		<div class="col-md-12 text-center" style="padding-top:20px;padding-bottom:20px;">
			<h1 class="txt-lp-1 txt-rojo">COMPRA CONFIABLE</h1>
			{#<h2 class="txt-lp-2">SOLICITAR COTIZACI&Oacute;N</h2>#}
			<p class="txt-lp-p txt-info">Por favor llene el siguiente formulario para que un representante de Toyocosta pueda comunicarse inmediatamente con usted.</p>

		</div>

		<div class="col-md-12">

			<form id="form-etiqueta" class="form-info">


				<input type="hidden" id="campana" name="campana" value="Compra confiable, facebook - Seminuevos" />

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1 col-xs-12">

						<div class="row">
							<div class="col-sm-4 col-sm-offset-1 col-xs-12">
								<label>Nombre:</label>
								<input id="nombre" name="nombre" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-sm-4 col-sm-offset-1 col-xs-12">
								<label>Apellido:</label>
								<input id="apellido" name="apellido" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1 col-xs-12">

						<div class="row">
							<div class="col-sm-4 col-sm-offset-1 col-xs-12">
								<label>Tel&eacute;fono:</label>
								<input id="telefono" name="telefono" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-sm-4 col-sm-offset-1 col-xs-12">
								<label>Celular:</label>
								<input id="celular" name="celular" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1 col-xs-12">

						<div class="row">
							<div class="col-sm-4 col-sm-offset-1 col-xs-12">
								<label>Email:</label>
								<input id="email" name="email" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-sm-4 col-sm-offset-1 col-xs-12">
								<label>C&eacute;dula:</label>
								<input id="cedula" name="cedula" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1 col-xs-12">

						<div class="row">
							<div class="col-sm-4 col-sm-offset-1 col-xs-12">
								<label>Modelo:</label>
								<select name="modelo" id="modelo" class="form-control">
									<option value="TUCSON IX SF 2.0 5P 4X2 TA marca: HYUNDAI"> TUCSON IX SF 2.0 5P 4X2 TA marca: HYUNDAI</option>
									<option value="ASX AC 2.0 5P 4X2 TA  marca: MITSUBISHI"> ASX AC 2.0 5P 4X2 TA  marca: MITSUBISHI</option>
									<option value="Tucson ix 2L SUV 4x2 T/A A/A  marca: HYUNDAI"> Tucson ix 2L SUV 4x2 T/A A/A  marca: HYUNDAI</option>
									<option value="EXPLORER TA 3.5 5P 4X4 XLT  marca:  FORD"> EXPLORER TA 3.5 5P 4X4 XLT  marca:  FORD</option>
								</select>
							</div>

						</div>	
					</div>

				</div>


				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1 col-xs-12">

						<div class="row">
							<div class="col-sm-9 col-sm-offset-1 col-xs-12">
								<label>Comentarios:</label>
								<textarea id="comentario" name="comentario" class="form-control" rows="3"></textarea>

							</div>
						</div>	
					</div>

				</div>


				
				<div class="row space-input" style="padding-top:20px;">

					<div class="col-md-3 col-md-offset-2 col-sm-3 col-xs-12" style="padding-right:0px;">

						<input type="submit" value="Enviar" class="btn btn-lg btn-info" style="width:100%;">
					</div>

				</div>

			</form>



			<div class="container" id="contenedorEspere" style="display:none;height:200px;">
				<div class="row">
					<div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 text-center">
						<h4 class="txt-rojo txt-negrita">Enviando información...</h4>
					</div>
				</div>
			</div>


		</div>


	</div>

</div>


{% endblock %}
