<div class="row fondo-montacarga">

		<div class="container contenedor-centrar">
			<div class="row text-center">

				<div class="col-md-12">
					{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/slide/logos.png' %}
					<img src="{{ asset_url }}" alt="" class=""/>
			        {% endimage %}

				</div>
			</div>
			<div class="row text-center equipos">
				<div class="col-md-12">
					{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/slide/maquinas.png' %}
					<img src="{{ asset_url }}" alt="" class=""/>
			        {% endimage %}

				</div>
			</div>
			<div class="row text-center">
				<a href="" target="_blank">
					<div class="col-md-4 col-md-offset-4 btn-lg btn-rojo">
						Ver m&aacute;s
					</div>
				</a>
			</div>


		</div>	


</div>