<div class="row fondo-pirelli img-responsive">

		<div class="container contenedor-centrar">
			<div class="row" style="padding-top: 120px;">
				<div class="col-md-12">
					{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/logos/logo-pirelli.jpg' %}
					<img src="{{ asset_url }}" alt="" class="img-responsive"/>
			        {% endimage %}
				</div>
			</div>

			<div class="row text-center" style="height:480px;">
				<div class="boton contenedor-centrar" style="height:25px;">
					<a href="" target="_blank">
						<div class="col-md-4 col-md-offset-4 btn-lg btn-rojo">
							Ver m&aacute;s
						</div>
					</a>
				</div>
			</div>


		</div>

</div>