<div class="navbar navbar-fixed-top navbar-toyocosta" role="navigation">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right navbar-nav-menu-0">
        <li class="active">
          <a href="#">Regístrese</a>
        </li>
        <li>
          <a href="#">Iniciar sesión</a>
        </li>
        <li>
          <a href="#">&nbsp;</a>
        </li>
        <li>
          <a href="#about">Inicio</a>
        </li>
        <li>
          <a href="#contact">Empresa</a>
        </li>
        <li>
          <a href="#contact">Noticias</a>
        </li>
        <li>
          <a href="#contact">Servicios</a>
        </li>
        <li>
          <a href="#contact">Test Drive</a>
        </li>
        <li>
          <a href="#contact">Trabaje con nosotros</a>
        </li>
        <li>
          <a href="#contact">Contáctenos</a>
        </li>
        <li class="iconos-ty">
          <a href="#contact" class="icon-facebook">&nbsp;</a>
        </li>
        <li class="iconos-ty">
          <a href="#contact" class="icon-twitter">&nbsp;</a>
        </li>
        <li class="iconos-ty">
          <a href="#contact" class="icon-blog">&nbsp;</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>

  <div class="container-fluid sombra-toyocosta">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle navbar-toggle-toyocosta" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand toyocosta-brand" href="#top-ty">
        {% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/toyocosta.png' %}
        <img src="{{ asset_url }}" alt="llanta" class="img-responsive" />
        {% endimage %}
      </a>
    </div>  
    <div class="navbar-collapse collapse" id="vehiculos-scroll">
      <ul class="nav navbar-nav navbar-nav-vehiculos page-scroll">
        <li>
          <a href="#autos-seccion">Autos</a>
        </li>
        <li>
          <a href="#camionetas-seccion">Camionetas</a>
        </li>
        <li>
          <a href="#suvs-seccion">SUV</a>
        </li>
        <li>
          <a href="#hibridos-seccion">Híbridos</a>
        </li>
        <li>
          <a href="#montacargas-seccion">Montacargas</a>
        </li>
        <li>
          <a href="#pirelli-seccion">Pirelli</a>
        </li>
        <li>
          <a href="#seminuevos-seccion">Seminuevos</a>
        </li>
      </ul>
      <form class="navbar-form navbar-right navbar-buscar" role="form">
        <div class="form-group">
          <input type="text" placeholder="Buscar" class="form-control input-lg input-buscar">
        </div>
        <input type="submit" class="btn btn-buscar" value="" />
      </form>

    </div><!--/.navbar-collapse -->
  </div>
</div>