<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="">
        <title>TOYOCOSTA | Representante Oficial Toyota para el Ecuador</title>
        
        <meta name="description" content="Concesionario autorizado para la venta de autos, camionetas, hibridos de la marca Toyota para la region Costa."/>

        <meta name="keywords" content="Autos Toyota, Camionetas Toyota, Hilux, Autos Ecuador, Toyota, Toyota Ecuador" />


        {% include 'CelmediaToyocostaVehiculosBundle:Default:includes.html.twig' %}


        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


    </head>
    <body>
    {#<body data-spy="scroll" {% if app.request.get('_route') == "ver_vehiculo" %}data-target="#vehiculos-secciones"{% elseif app.request.get('_route') == "toyocosta_homepage" %}data-target="#scrollprincipal"{% endif %}>#}

        {% block contenidotoyocosta %}
            
        {% endblock %}

        {% include 'CelmediaToyocostaPirelliBundle:Blocks:footer.html.twig' %}
        


        {% include 'CelmediaToyocostaVehiculosBundle:Default:libs.html.twig' %}



        {% block js %}

        {% endblock %}
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22594492-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>               

    </body>
</html>