<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Toyocosta</title>


        {% include 'CelmediaToyocostaVehiculosBundle:Default:includes.mobile.html.twig' %}


        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


    </head>
    <body>

        {% block contenidoMobil %}

            
        {% endblock %}



        {#{% include 'CelmediaToyocostaPirelliBundle:Blocks:footer.mobile.html.twig' %}#}
        


        {% include 'CelmediaToyocostaVehiculosBundle:Default:libs.mobile.html.twig' %}


        {% block js %}

        {% endblock %}
                            
    </body>
</html>