<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Toyocosta</title>

        {% stylesheets
            "@CelmediaToyocostaPirelliBundle/Resources/public/css/bootstrap.min.css"
            "@CelmediaToyocostaPirelliBundle/Resources/public/css/menu.toyocosta.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/resetvehiculos.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/footer.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/style.css"
        %}
            <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body data-spy="scroll" data-target="#vehiculos-scroll" id="top-ty">

        {% block contenidotoyocosta %}
            
        {% endblock %}

        {% include 'CelmediaToyocostaPirelliBundle:Blocks:footer.html.twig' %}
             {% javascripts
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/jquery.js'       
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/bootstrap.min.js' 
                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/jquery.scrollTo-1.4.2-min.js' 
                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/jquery-ui-1.9.2.custom.js' 
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/script.js' 
                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/script.toyocosta.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}                          
    </body>
</html>