

lalala
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3 text-left">
        {% image '@CelmediaToyocostaSeminuevoBundle/Resources/public/images/avaluotecnico.png' %}
            <img src="{{ asset_url }}" class="img-responsive obj-centrar">
        {% endimage %}
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 text-left">
        {% image '@CelmediaToyocostaSeminuevoBundle/Resources/public/images/avaluotecnico.png' %}
            <img src="{{ asset_url }}" class="img-responsive obj-centrar">
        {% endimage %}
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 text-left">
        {% image '@CelmediaToyocostaSeminuevoBundle/Resources/public/images/avaluotecnico.png' %}
            <img src="{{ asset_url }}" class="img-responsive obj-centrar">
        {% endimage %}
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 text-left">
        {% image '@CelmediaToyocostaSeminuevoBundle/Resources/public/images/avaluotecnico.png' %}
            <img src="{{ asset_url }}" class="img-responsive obj-centrar">
        {% endimage %}
    </div>
</div>