{% extends 'CelmediaToyocostaSeminuevoBundle::layout.html.twig' %}
	
{% block contenidoseminuevos1 %}

	<div class="buscador-seminuevo container-fluid">
        <div class="row">
            <div class="col-sm-6">
            {% block sonata_user_registration %}
                {% render controller("SonataUserBundle:RegistrationFOSUser1:register") %}
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block contenidoseminuevos2 %}



{% endblock %}