

{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}

		{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

<div class="row banner-seminuevos">
	<div class="container">

	</div>
</div>
<div class="container">

	<div class="row" style="padding-top: 40px;padding-bottom: 50px;">


		<div class="col-md-12 text-center">

			<h2 style="color:#FF0000; font-weight: bold;" >FELICIDADES.</h2>

		</div>

		<div class="col-md-12">

			<div class="col-md-10 col-md-offset-1 text-center">
				
				<p class="txt-info">Su registro se ha completado correctamente. Un representante de Toyocosta se contactar&aacute; con usted inmediatamente para la activacion de su nueva cuenta.</p>

			</div>

		</div>


		<div class="col-md-12">

			<div class="col-md-4 col-md-offset-4">
				
				<a href="{{ path('seminuevos_home') }}" style="text-decoration: underline;">
					<p style="text-align: center; color:#0D4559; font-weight: bold; margin: 8px;" >Volver al inicio</p>
				</a>				
			</div>

		</div>

	</div>

</div>


{% endblock %}
