{% extends 'CelmediaToyocostaSeminuevoBundle::layout.html.twig' %}
	
{% block contenidoseminuevos1 %}

{% endblock %}

{% block contenidoseminuevos2 %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
            	<h2>VENDA SU USADO</h2>
            	<span>Los campos con * son obligatorios</span>
            </div>
        </div>
    </div>
   	<div class="container">
        <form role="form" class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1  col-sm-offset-1">
				<div class="form-group">
					<label for="sm-input-modelo">Modelo del vehículo</label>
					<input type="text" class="form-control" id="sm-input-modelo" placeholder="">
				</div>
			</div>
			<div class="col-md-5 col-sm-5">
				<div class="form-group">
					<label for="sm-input-kilometraje">Kilometraje</label>
					<input type="number" class="form-control" id="sm-input-kilometraje" placeholder="">
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col-md-offset-1  col-sm-offset-1">
				<div class="form-group">
					<label for="sm-input-marca">Marca</label>
					<div class="col-md-12 unido" >
		                <div class="styled-select">
		                    <select name="selectmarca" id="selectmarca" class=" selectcmb form-control select-filtro">
	                            <option class="style-option" value="aa" selected="selected" >aa</option>
	                            <option class="style-option" value="bb" >bb</option>
	                            <option class="style-option" value="cc" >cc</option>
		                    </select>
		                </div>
		            </div>
				</div>
			</div>
			<div class="col-md-5 col-sm-5">
				<div class="form-group">
					<label for="sm-input-kilometraje">Tipo</label>
					<div class="col-md-12 unido" >
		                <div class="styled-select">
		                    <select name="selecttipo" id="selecttipo" class=" selectcmb form-control select-filtro">
	                            <option class="style-option" value="aa" selected="selected" >aa</option>
	                            <option class="style-option" value="bb" >bb</option>
	                            <option class="style-option" value="cc" >cc</option>
		                    </select>
		                </div>
		            </div>
				</div>
			</div>

			<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
				<div class="form-group">
					<label>Modelo del vehículo</label>
				</div>
			</div>





        </form>
    </div>
{% endblock %}