
{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}

		{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

<div class="row banner-rrhh">
	<div class="container">

	</div>
</div>
<div class="container">

	<div class="row" style="padding-top: 20px;padding-bottom: 30px;">


		<div class="col-md-12 text-center">

			<h2>TRABAJE CON NOSOTROS</h2>
			<p class="txt-info">Llene el siguiente formulario y adjunte su hoja de vida para que sea parte de nuestra base de datos y ser considerados en nuestro pr&oacute;ximo proceso de selecci&oacute;n.</p>

		</div>

		<div class="col-md-12">

			<form id="form-rrhh" class="form-info">
				
				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Nombre:</label>
								<input id="nombre" name="nombre" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Apellido:</label>
								<input id="apellido" name="apellido" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Tel&eacute;fono:</label>
								<input id="telefono" name="telefono" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Email:</label>
								<input id="email" name="email" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-9 col-xs-offset-1">
								<label>Adjuntar Curriculum Vitae:</label>
								<input type="file" id="cv" name="cv" style="">
							</div>
						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-9 col-xs-offset-1">
								<label>Cargo al que desea aplicar:</label>
								<textarea id="cargo" name="cargo" class="form-control" rows="3"></textarea>

							</div>
						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-md-3 col-md-offset-4">

                                <input type="submit" value="Enviar" class="btn btn-lg btn-info" style="width:100%;">
							</div>
						</div>	
					</div>

				</div>

			</form>

		</div>


	</div>

</div>


{% endblock %}
