
{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}
{% block seo %}
    
    <title>TOYOCOSTA | RRHH</title>
    
    <meta name="description" content="Trabaja con nosotros. Ingresa tu hoja de vida y forma parte del equipo Toyocosta."/>

    <meta name="keywords" content="test drive autos toyota guayaquil, test drive camionetas toyota guayaquil, toyocosta test drive" />

{% endblock %}
{% block contenidotoyocosta %}

		{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

<div class="row banner-rrhh">
	<div class="container">

	</div>
</div>
<div class="container">

	<div class="row" style="padding-top: 20px;padding-bottom: 30px;">


		<div class="col-md-12 text-center">

			<h2>TRABAJE CON NOSOTROS</h2>
			<p class="txt-info">Llene el siguiente formulario y adjunte su hoja de vida para que sea parte de nuestra base de datos y ser considerados en nuestro pr&oacute;ximo proceso de selecci&oacute;n.</p>

		</div>

		<div class="col-md-12" id="contenedorFormRRHH">

			<form id="form-rrhh" class="form-info" enctype="multipart/form-data" method="post">
				
				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Nombre:</label>
								<input id="rnombre" name="rnombre" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Apellido:</label>
								<input id="rapellido" name="rapellido" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Tel&eacute;fono:</label>
								<input id="rtelefono" name="rtelefono" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Email:</label>
								<input id="remail" name="remail" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-9 col-xs-offset-1">
								<label>Adjuntar Curriculum Vitae:</label>
								{#
								<input type="file" id="rcv" name="rcv" value="">
								#}
								<input id="rcv" type="file" name="rcv[]" value="">

								<input type="hidden" id="rutacv" name="rutacv"  value="" />
							</div>
						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-9 col-xs-offset-1">
								<label>Cargo al que desea aplicar:</label>
								<textarea id="rcargo" name="rcargo" class="form-control" rows="3"></textarea>

							</div>
						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1" style="padding-top:20px;">

						<div class="row">
							<div class="col-md-3 col-md-offset-4">
                                <input type="submit" value="Enviar" class="btn btn-lg btn-info" style="width:100%;">
							</div>
						</div>	
					</div>

				</div>

			</form>

		</div>

		<div class="col-md-6 alto-completo" style="display:none;" id="contenedorEspereRRHH">
			<div class="container-fluid">
				<div class="row" style="margin-top: 40px; margin-bottom:40px;">
					<div class="col-md-12 text-center">
						<h4 class="txt-negro">Enviando información...</h4>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>


{% endblock %}
