{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}

		{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

<div class="row banner-test">
	<div class="container contenedor-centrar">
		<div class="text-left">
            <h1 class="title-banner">TEST DRIVE</h1>
        </div>
	</div>
</div>



<div class="container">

	<div class="row" style="padding-top: 20px;padding-bottom: 30px;">


		<div class="col-md-12 text-center">

			<h2>VIVE LA EXPERIENCIA TOYOTA</h2>
			<p class="txt-info">Que no te lo cuenten, ven y descubre la calidad de un Toyota. Ingresa sus datos y un operador se comunicar&aacute; contigo.</p>

		</div>

		<div class="col-md-12">

			<form id="form-test" method="POST" class="form-info">
				
				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Nombre:</label>
								<input id="nombre_test" name="nombre_test" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Apellido:</label>
								<input id="apellido_test" name="apellido_test" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Tel&eacute;fono:</label>
								<input id="telefono_test" name="telefono_test" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Email:</label>
								<input id="email_test" name="email_test" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>


				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>No. de C&eacute;dula / Pasaporte:</label>
								<input id="cedula_test" name="cedula_test" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Fecha de nacimiento</label>
								<input id="nacimiento_test" name="nacimiento_test" type="date" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Agencia:</label>
								<select name="agencia_test" id="agencia_test" class="form-control txt-select">
									<option>Seleccione la agencia</option>

									{% for row in agencias %}

										<option value="{{ row.nombre }}" >{{ row.nombre }}</option>
			                    	{% endfor %}

								</select>
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Ciudad:</label>
								<input id="ciudad_test" name="ciudad_test" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>


				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							
							<div class="col-xs-4 col-xs-offset-1">
								<label>Vehiculo:</label>
								<select  name="vehiculo_test" id="vehiculo_test"  class="form-control txt-select">
									<option value="0">Seleccione un modelo</option>

									{% for vehiculo in vehiculos_test %}

										<option value="{{ vehiculo.nombre }}" >{{ vehiculo.nombre }}</option>
			                    	{% endfor %}

								</select>
							</div>

						</div>	
					</div>

				</div>

				<hr>



				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Fecha del test:</label>
								<input id="fecha_test" name="fecha_test" type="date" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Hora del test:</label>
								<input id="hora_test" name="hora_test" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-9 col-xs-offset-1">
								<label>Observaciones:</label>
								<textarea id="obs_test" name="obs_test" class="form-control" rows="3"></textarea>

							</div>
						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1" style="padding-top:20px;">

						<div class="row">
							<div class="col-md-3 col-md-offset-4">

                                <input type="submit" value="Enviar" class="btn btn-lg btn-info" style="width:100%;">
							</div>
						</div>	
					</div>

				</div>

			</form>

		</div>


	</div>

</div>


{% endblock %}
