/*Para eliminar el scroll horizontal*/
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.navbar-inverse {
background-color: #fff;
border-color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
background-color: #DE192B;
}
.navbar-inverse .navbar-toggle .icon-bar {
background-color: #1B3439;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #FFF;
}
.cursiva{
	font-style: italic;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
/*	color: #FCDB05;*/
	background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #474747;
}
#nav-list-pirelli>li>a {
	line-height: 8px;
}

.navbar{
	margin-bottom: 0px;
	border: 0px;
}
.modal-header .close {
margin-top: -5px;
}
.close:hover{
	color: #FFFFFF;
}
.navbar-text {
	margin-top: 0px;
	margin-bottom: 0px;
}

.breadcrumb {
	background-color: transparent;
}
.breadcrumb> .active {
	color: #666;
}
.breadcrumb>li+li:before {
	content: ">\00a0";
	font-size: 13px;
	color: #999;
}