html,body{
	position: relative;
	width: 100%;
	height: 100%;
}

.v-center-contenedor {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
}
.v-center-contenido{
	display: table-cell;
	vertical-align: middle;
}

.alto-completo{
	height: 100%;
	position: relative;
}

.seccion-ty{
	position: relative;
	width: 100%;
	height: 100%;
}

.carousel-ty{
	position: relative;
	width: 100%;
	height: 100%;
}

.espacio-a{
	margin-top: 10px;
	margin-bottom: 10px;
}
.espaciado-slide-home{
	margin-top: 120px;
	margin-bottom: 120px;
}

.item-carousel-home-ty{
	position: relative;
	width: 100%;
	height: 100%;

	display: table;
	/*position: relative;*/
	background-repeat: no-repeat;
	background-position: top center;
	/*background-attachment: fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-indicators .miniaturas{
	width: 69px;
	height: 69px;
	border-radius: 34px;
	position: relative;
	border: 3px solid #FFFFFF;

	background-color: rgba(255,255,255,0.8);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	background-image: none;
}
.carousel-indicators .miniaturas.active{
	width: 69px;
	height: 69px;
	border-radius: 34px;
	position: relative;
	border: 3px solid #FF0000;
}
.carousel-indicators .miniaturas:hover,
.carousel-indicators .miniaturas.active:hover{
	width: 80px;
	height: 80px;
	border-radius: 40px;
}


/*Media Querys*/
/* Large desktop */
@media (min-width: 1921px) { 

	.input-buscar{
		padding:12px 165px;
	}
	/*.alto-toyocosta{
		height: 85px;
	}
	.carousel-indicators li{
		width: 23px;
		height: 23px;
	}
	.carousel-indicators .active{
		width: 23px;
		height: 23px;
	}
	.btn-caption{
		margin-bottom: 125px;
	}*/

 }
@media (min-width: 1200px) {
	
	#nav-principal li a {
		padding-right: 10px;
		padding-left: 10px;
	}
	.alto-toyocosta{
		height: 85px;
	}
	/*INDICADORES REDONDOS CAROUSEL*/
	.carousel-indicators li{
		width: 23px;
		height: 23px;
		border: 3px solid #fff;
		border-radius: 23px;
	}
	.carousel-indicators .active{
		width: 23px;
		height: 23px;
		margin: 1px;
	}
	/*FLECHAS CAROUSEL*/
	.btn-caption{
		margin-bottom: 80px;
	}
	.glyphicon-chevron-left{
		top: 38%;
	}
	.glyphicon-chevron-right{
		top: 38%;
	}
	.carousel-indicators {
		bottom: 62px;
	}
	/*CAROUSEL VEHICULOS*/
	.carousel-vehiculos .active {
		width: 70px;
		height: 0px;
		margin: 1px;
	}
	.carousel-vehiculos li:first-child
	{
		background-color: transparent;
	}
	.carousel-vehiculos li{
		width: 70px;
		height: 69px;
		border: 0px solid #fff;
	}
	/*CAROUSEL CAMIONETAS*/
	.carousel-camionetas .active {
		width: 70px;
		height: 0px;
		margin: 1px;
	}
	.carousel-camionetas li:first-child
	{
		background-color: transparent;
	}
	.carousel-camionetas li{
		width: 70px;
		height: 69px;
		border: 0px solid #fff;
	}

	/*POSICION PRECIO Y ACCESOS DE SLIDERS VEHICULOS*/
	.position-caption{
		left: 12%;
		bottom: 32%;
	}
 }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

	.btn-caption{
		margin-bottom: 72px;
	}
 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.alto-toyocosta{
		height: 190px;
	}


 }
 
/* Landscape phones and down */
@media (max-width: 480px) { 

	.alto-toyocosta{
		height: 226px;
	}

 }
/*Botones*/
.btn-ver-mas{
	background-color: #FFFFFF;
	color: #767676;
	text-shadow: 0px 0px 0px transparent;
}
.btn-rojo{
	background-color: #D62C2F;
	color: #FFFFFF;
	text-shadow: 0px 0px 0px transparent;
}
.btn-rojo:hover{
	background-color: #970000;
	color: #FFFFFF;
}


.glyphicon-chevron-left{
	/*background-image: url("../../../web/img/Iconos/left.png");*/
	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/varios/left.png"); 
	height: 105px;
	width: 100%;
	background-repeat: no-repeat;
}
.glyphicon-chevron-right{
	/*background-image: url("../../../web/img/Iconos/right.png");*/
	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/varios/right.png"); 
	height: 105px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: right center;
}
.txt-indicador{
	font-size: 12px;
	color: #9C9C9C;
}
.img-indicator{
	margin-bottom: 12px;
}
.cuadro-precio{
	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/varios/recuadro-precio.png");
	background-repeat: no-repeat; 
	height: 70px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 2px;
}
.cuadro-caption{
	/*border-left: 2px solid red;
	border-top-right-radius: 5px;
	background-image: url("../../../web/img/Autos-box/Fondo.png");
	height: 80px;*/

	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/varios/recuadro-accesos.png"); 
	background-repeat: no-repeat;
	height: 149px;
}
.txt-caption{
    font-size: 18px;
    text-align: left;
    color: #000000;
    margin-top: 5px;
	margin-bottom: 1px;
}
.parrafo-caption{
	font-size: 12px;
    text-align: left;
    color: #000000;
}
.precio-caption{
	font-size: 34px;
    color: #DF192A;
    font-weight: bold;
}
.list-caption{
	text-align: left;
	padding-left: 0px;
}
.link-caption {
	list-style-type: none;
	/*border-bottom: 1px solid #63676A;*/
	margin-left: 18px;
	/*margin-right: 28px;*/
	padding: 13px;
}
.link-caption:hover{
	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/varios/mayorq.png"); 
	background-repeat: no-repeat;
	background-position: 145px 18px;
}
.link{
	color: #FFFFFF;
	font-size: 14px;
}
.link:hover{
	text-decoration: none;
	color: #FFFFFF;
}
.distancia{
	margin-bottom: 74px;
}
.fondo-bullet{
	width: 70px;
	height: 69px;
	border: 0px solid #fff;
	border-radius: 75px;
	background-color: #FFFFFF;
}
.img-bullet{
	width: 70px;
	height: 69px;
}
.img-indicator{
	display: none;
}
/*.img-bullet{
	display: none;
}
*/


.active > .fondo-bullet{
	display: none;
}

.active > .img-indicator{
	display: inline;
}
/*.active > .img-bullet{
	display: inline;
}
*/

.fondo-montacarga{
	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/slide/montacargas.jpg"); 
	background-repeat: no-repeat;
	height: 864px;
	background-size: cover;
	/*height: 100%;*/
}
.equipos{
	padding-top: 100px;
	padding-bottom: 60px;
}
.fondo-pirelli{
	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/slide/pirelli.jpg"); 
	background-repeat: no-repeat;
	height: 864px;	
	background-size: cover;
	/*height: 100%;*/
}
.fondo-seminuevos{
	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/slide/seminuevos.jpg"); 
	background-repeat: no-repeat;
	height: 864px;
	background-size: cover;
	background-position: 50% 50%;
}
.titulo-venta{
	color: #FBD708;
	text-align: center;
}
.texto-venta{
	color: #FFFFFF;
}