.panel-title{
	padding: 0px 15px 0px 15px;
}

/*RESET MOBILE*/
.panel-body{
	padding: 0px;
}
.media-list{
	background-color: #EFEFEF;
	margin-bottom: 0px;
}
.media-body{
	padding: 20px;
}
.media-heading{
	font-size: 15px;
	color: #333333;
}
.media{
	padding: 12px;
	border-bottom: 1px solid #DCD9D9;
	margin-top: 0px;
}
.media-autos:active {
	border-right: 6px solid #DE1D30;
}
.media-autos h4:active, .media-autos h4:focus, .media-autos h4:hover{
	color: #DE1D30;
	text-decoration: none;
}
a:focus , a:hover {
	text-decoration: none;
	outline: 0px;
	outline-offset: 0px;
}
.panel-title>a:active {
	color: #DE1D30;
}
.back-accesos{
	background-image: url('../../celmediatoyocostavehiculos/images/icon/texturafooter.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}
.back-footer{
	background-image: url('../../celmediatoyocostavehiculos/images/pirelli/textura/textura.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	border-top: 2px solid #E1182B;
	height: 50px;
}
/*.menu-movil{
	background-image: url('../../celmediatoyocostavehiculos/images/icon/menu.png');
	height: 20px;
	background-position: top center;
	background-repeat: no-repeat;
}
.menu-movil:hover{
	background-image: url('../../celmediatoyocostavehiculos/images/icon/menuhover.png');
	height: 20px;
	background-position: top center;
	background-repeat: no-repeat;
}*/
.text-footer{
	color: #ffffff;
	font-size: 10px;
}
/*RESET*/
.panel-group {
	margin-bottom: 0px;
}
.txt-gris{
	color: #989898;
}

.nav-movil{
	margin: 0px -15px;
}
.nav-movil>li>a {
	line-height: 12px;
	font-size: 11px;
	color: #333333;
}
.navbar-default .nav-movil>li>a {
	border-bottom: 1px solid #DCD9D9;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-default .nav-movil>li>a:hover, .navbar-default .nav-movil>li>a:focus {
	color: #E1182B;
}
.txt-menu{
	border-bottom: 1px solid #DCD9D9;
	margin: 0 auto;
	padding: 10px;
}
.media-footer{
	color: #1b343b;
	font-weight: 700;
}
.colores-indicators{
	position: initial;
	bottom: 0px;
	left: 0;
	z-index: 0;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	text-align: left;
}
.colores-indicators .active {
	margin: 0;
	width: 25px;
	height: 25px;
}
.colores-indicators li {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 1px;
	text-indent: -999px;
	border: 2px solid #DADADA;
	border-radius: 15px;
	background-color: #000 \9;
	background-color: rgba(0,0,0,0);
}
.breadcrumb-mobil{
	padding: 15px;
	margin-bottom: 0px;
	list-style: none;
	background-color: #fff;
	border-radius: 0px;
	text-align: center;
}
.vehiculo-banner{
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
}
.btn-rojo{
	background-color: #df1928;
	color: #FFFFFF;
	border: 2px solid #df1928;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.btn-rojo:hover, .btn-rojo:active, .btn-rojo:focus {
	background-color: #FFFFFF;
	color: #df1928;
}
.btn-blanco-rojo{
	background-color: #FFFFFF;
	color: #df1928;
	border: 2px solid #df1928;
	border-radius: 5px;
	/* width: 100%; */
	margin-top: 15px;
	margin-bottom: 15px;
}
.btn-blanco-rojo:hover, .btn-blanco-rojo:active, .btn-blanco-rojo:focus {
	background-color: #df1928;
	color: #FFFFFF;
	border: 2px solid #df1928;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

	.empty-banner{
		height: 128px;
	}
 }
 /* Landscape phones and down */
@media (max-width: 480px) { 

	.empty-banner{
		height: 80px;
	}
 }