
.mayuscula{
	text-transform: uppercase;
}
.panel-title{
	padding: 5px 0px 5px 0px;
}

/*RESET MOBILE*/
.panel-body{
	padding: 0px;
}
.media-list{
	background-color: #EFEFEF;
	margin-bottom: 0px;
}
.media-body{
	padding-top: 20px;
	padding-left: 20px;
}
.media-heading{
	font-size: 12px;
	color: #333333;
	text-transform: uppercase;
	padding-left: 10px;
}
.media{
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	border-bottom: 1px solid #DCD9D9;
	margin-top: 0px;
}
.media-autos:active {
	border-right: 6px solid #DE1D30;
}
.media-autos h4:active, .media-autos h4:focus, .media-autos h4:hover{
	color: #DE1D30;
	text-decoration: none;
}
.media-object{
	padding-top: 10px;
	padding-bottom: 10px;
}
.media>.pull-left {
	margin-right: -28px;
}

.obj-menu{
	width: 50%;
	margin: 0 auto;	
}
a:focus , a:hover {
	text-decoration: none;
	outline: 0px;
	outline-offset: 0px;
}
.panel-title>a:active {
	color: #DE1D30;
}
.back-accesos{
	background-image: url('../../../celmediatoyocostavehiculos/images/icon/texturafooter.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}
.back-footer{
	background-image: url('../../../celmediatoyocostavehiculos/images/pirelli/textura/textura.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	border-top: 2px solid #E1182B;
	height: 50px;
}
/*.menu-movil{
	background-image: url('../../celmediatoyocostavehiculos/images/icon/menu.png');
	height: 20px;
	background-position: top center;
	background-repeat: no-repeat;
}
.menu-movil:hover{
	background-image: url('../../celmediatoyocostavehiculos/images/icon/menuhover.png');
	height: 20px;
	background-position: top center;
	background-repeat: no-repeat;
}*/
.text-footer{
	color: #ffffff;
	font-size: 10px;
}
/*RESET*/
.panel-group {
	margin-bottom: 0px;
}
.txt-gris{
	color: #989898;
}

.nav-movil{
	margin: 0px -15px;
}
.nav-movil>li>a {
	line-height: 12px;
	font-size: 11px;
	color: #333333;
}
.navbar-default .nav-movil>li>a {
	border-bottom: 1px solid #DCD9D9;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-default .nav-movil>li>a:hover, .navbar-default .nav-movil>li>a:focus {
	color: #E1182B;
}
.txt-menu{
	border-bottom: 1px solid #DCD9D9;
	margin: 0 auto;
	padding: 10px;
}
.media-footer{
	color: #1b343b;
	font-weight: 700;
}
.colores-indicators{
	position: initial;
	bottom: 0px;
	left: 0;
	z-index: 0;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	text-align: left;
}
.colores-indicators .active {
	margin: 0;
	width: 25px;
	height: 25px;
}
.colores-indicators li {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 1px;
	text-indent: -999px;
	border: 2px solid #DADADA;
	border-radius: 15px;
	background-color: #000 \9;
	background-color: rgba(0,0,0,0);
}
.breadcrumb-mobil{
	padding: 15px;
	margin-bottom: 0px;
	list-style: none;
	background-color: #fff;
	border-radius: 0px;
	text-align: center;
}
.breadcrumb-mobil li{
	font-size: 10px;
}
.vehiculo-banner{
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
}
.btn-rojo{
	background-color: #df1928;
	color: #FFFFFF;
	border: 2px solid #df1928;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.btn-rojo:hover, .btn-rojo:active, .btn-rojo:focus {
	background-color: #FFFFFF;
	color: #df1928;
}
.btn-blanco-rojo{
	background-color: #FFFFFF;
	color: #df1928;
	border: 2px solid #df1928;
	border-radius: 5px;
	/* width: 100%; */
	margin-top: 15px;
	margin-bottom: 15px;
}
.btn-blanco-rojo:hover, .btn-blanco-rojo:active, .btn-blanco-rojo:focus {
	background-color: #df1928;
	color: #FFFFFF;
	border: 2px solid #df1928;
}
.txt-valor-precio{
	color: #df1928;
	margin-top: 0px;
}
.txt-vehiculo{
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	margin-top: 0px;
	margin-bottom: 15px;
}
.txt-precio{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 2px;
}
.txt-descrip1{
	font-size: 12px;
}
.txt-descrip2{
	font-size: 13px;
}
.txt-datos-personales{
	font-size: 12px;
	color: #A0A0A0;
}
label {
	font-weight: normal;
	color: #A0A0A0;
	font-size: 11px;
}
.nav-cotizador>li>a{
	padding: 10px 12px;
	font-size: 10px;
}
.nav-tabs>li>a {
 	margin-right: 0px; 
	border:0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #df1928;
	background-color: transparent;
	border: 0px;
	border-bottom-color: #d3d3d3;
}
.nav-tabs {
	border-radius: 6px;
	border: 1px solid #D3D3D3;
	background-color: #efefef;
}
.nav-cotizador>li>a:hover, .nav-cotizador>li>a:focus {
	background-color: transparent;
	color: #df1928;
}
.txt-rojo{
	color: #df1928;	
}
.txt-result{
	font-size: 12px;
}
.txt-detalle{
	font-size: 10px;
	color: #A0A0A0;
	
}
.pager li>a, .pager li>span {
	
	background-color: #df1928;

}
#bloque-obsequio{
	display: none;
}

.panel-heading {
	padding: 10px 15px;
	height: 45px;
}
.navbar-brand {
	padding: 9px;
	height: 45px;
}
.sobre{
	float: right;
	border-left: 1px solid #ccc;
}
.sobre a{
	padding-top: 13px;
}

#mail_sobre_hover{
	display: none;
}

.glyphicon-chevron-right {
	background-image: url("../../../celmediatoyocostavehiculos/images/movil/right.png");
	height: 74px;
	width: 50%;
	background-repeat: no-repeat;
	background-position: right center;
}


.glyphicon-chevron-left {
	background-image: url("../../../celmediatoyocostavehiculos/images/movil/left.png");
	height: 74px;
	width: 50%;
	background-repeat: no-repeat;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
	left: 12%;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
	right: 12%;
}
.btn-ver-mas{
	background-color: #FFFFFF;
	color: #767676;
	text-shadow: 0px 0px 0px transparent;
	width: 100%;
	text-transform: uppercase;
	border-radius: 3px;
}
.carousel-caption{
	top: 75%;
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

	.empty-banner{
		height: 128px;
	}
 }
 /* Landscape phones and down */
@media (max-width: 480px) { 

	.empty-banner{
		height: 80px;
	}
 }