#empresa-seccion{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/empresa/cielo.jpg"); 
}
#region-seccion{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/empresa/costa.jpg"); 
}

.btn-info{
	background-color: #DF192B;
	color: #fff;
	border-color: transparent;
	width: 100%;
}
.btn-info:hover, .btn-info:active, .btn-info:focus{
	background-color: #970000;
	color: #fff;
	border-color:transparent;
}


/*BANNERS*/
.banner-mantenimiento{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/mantenimiento.jpg");
	background-size: cover;
	/*height: 333px;*/
	height: 275px;
}
.banner-test{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/test.jpg");
	background-size: cover;
	/*height: 333px;*/
	height: 285px;
}
.banner-rrhh{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/rrhh.jpg");
	background-size: cover;
	/*height: 333px;	*/
	height: 275px;
}
.banner-contacto{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/contacto.jpg");
	background-size: cover;
	/*height: 333px;*/
	height: 250px;	
}
.banner-certificados{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/certificados.jpg");
	background-size: cover;
	height: 333px;		
}
.banner-lp{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/lp.jpg");
	background-size: cover;
	height: 333px;		
}
.banner-seminuevos{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/seminuevo.jpg");
	background-size: cover;
	height: 270px;
	/*height: 333px;		*/
}
.banner-autos{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/certificados.jpg");
	background-size: cover;
	height: 278px;		
}
.banner-camionetas{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/certificados.jpg");
	background-size: cover;
	height: 278px;		
}
.banner-suv{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/certificados.jpg");
	background-size: cover;
	height: 278px;		
}
.banner-hibridos{
	background-image: url("../../bundles/celmediatoyocostavehiculos/images/banner/certificados.jpg");
	background-size: cover;
	height: 278px;		
}






#form-mantenimiento, #form-rrhh, #form-test, #form-register label {
	color: #A0A0A0;
}

#form-contacto label{
	color: #646464;
}
.txt-gris{
	color: #646464;
}
.txt-rojo{
	color: #E1182D;
}
.txt-contacto{
	color: #646464;
	font-weight: bold;
	padding-top: 20px;
}

.txt-select{
	color: #a0a0a0;
    font-style: oblique;
}
.txt-info{
	margin-top: 10px;
	font-size: 14px;
	font-weight: normal;
	color: #A0A0A0;
}
.space-input {
	padding-top: 10px;
	padding-bottom: 10px;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.title-banner{
	color: #FFFFFF;
	font-size: 38pt;
}
.space-top{
	padding-top: 10px;
}
.space-ld{
	padding-top: 10px;
	padding-bottom: 10px;
}
.space-top-30{
	padding-top: 30px;
}