#empresa-seccion{
	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/empresa/cielo.jpg"); 
}
#region-seccion{
	background-image: url(".../../../../../web/bundles/celmediatoyocostavehiculos/images/empresa/costa.png"); 
}

.btn-info{
	background-color: #DF192B;
	color: #fff;
	border-color: transparent;
}
.btn-info:hover, .btn-info:active, .btn-info:focus{
	background-color: #970000;
	color: #fff;
	border-color:transparent;
}
.borde-gris{
	border-right: 1px solid #CCCCCC;
}