{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}

		{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

<div class="row banner-certificados">
	<div class="container contenedor-centrar">
		<div class="text-left">
            <h1 class="title-banner">Banner </h1>
        </div>
	</div>
</div>



<div class="container">
	 <div class="row"><br/><br/>
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">HOME</a></li>
              <li><a href="#">PRIUS C</a></li>
              <li class="active"><strong>ESPECIFICACIONES</strong></li>
            </ol>
        </div><br/><br/>          
    </div>
    <div class="row">
		<div class="col-md-12">
			<h3 style="text-align:center"><strong>ESPECIFICACIONES DEL VEH&Iacute;CULO</strong></h3>
		</div><br/>
    </div>
	<div class="row">
		<div class="col-xs-4 col-md-10">
			<p style="text-align:justify">Regresar</p>
		</div>
		<div class="col-xs-4 col-md-2">
			<a class="btn btn-vehiculo" target="_blank" href="#">
				Ficha Técnica
				<i class="icono-descarga"></i>
			</a>
		</div>
	</div>
	<br/><br/>
</div>
<div style="border-bottom: 2px solid #ccc8c8">
	<div class="container">
	<div class="row">
		<div class="col-md-12">
				<ul class="nav nav-tabs row tabs-especificaciones" role="tablist">
				  <li class="active col-md-3"><a href="#mecanica" role="tab" data-toggle="tab"><strong>MEC&Aacute;NICA</strong></a></li>
				  <li class="col-md-3" ><a href="#exterior" role="tab" data-toggle="tab"><strong>EXTERIOR</strong></a></li>
				  <li class="col-md-3"><a href="#interior" role="tab" data-toggle="tab"><strong>INTERIOR</strong></a></li>
				  <li class="col-md-3" ><a href="#seguridad " role="tab" data-toggle="tab"><strong>SEGURIDAD</strong></a></li>
				</ul>
		</div>
	</div>
	</div>
</div>
<div class="container">	
	<div class="row">
		<div class="col-md-12">
			
			<div class="tab-content">
				<div class="tab-pane active" id="mecanica">
					<br/><br/>
					<div class="table-responsive">
					  <table class="table">
					    <tr class="active">
  							<td>informacion uno</td>
  							<td>informacion dos</td>
  						</tr>
  						 <tr>
  							<td>informacion uno</td>
  							<td>informacion dos</td>
  						</tr>
  						 <tr class="active">
  							<td>informacion uno</td>
  							<td>informacion dos</td>
  						</tr>
  						 <tr>
  							<td>informacion uno</td>
  							<td>informacion dos</td>
  						</tr>	
					  </table>
					</div>
				</div>
				<div class="tab-pane" id="exterior">
					<p>Holaaaa</p>
				</div>
				<div class="tab-pane" id="interior">
				</div>
				<div class="tab-pane" id="seguridad">
				</div>
			</div>	

		</div>

	</div>
</div>


{% endblock %}