<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Toyocosta</title>

    </head>
    <body>
    <a href="{{ path('landingurbano') }}" target="_blank">
        
        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/mailing/etiqueta.jpg' %}
            <img src="{{ asset_url }}" alt="seminuevos etiqueta roja" />
        {% endimage %}
        
    </a>

    </body>
</html>