  
    <ul style="display:none" id="sub-categorias-menu-{{ categoriaId }}" class="submenu-pro">
   
     {% for subcategoria in subcategorias %}
     
         <li id="sub-sub-menu-{{ subcategoria.id }}">
         {{ subcategoria.nombre }}
         {{ render(controller("CelmediaToyocostaMontacargasBundle:Default:obtenerMontacargaXSubcategoria" , { 'subcategoriaId':  subcategoria.id } ) ) }}
         </li>

     {% endfor %}
    </ul>
