        
        <div class="col-md-1 bloque-vacio">

        </div>

        <form class="col-md-10" name="buscador" action="" method="post" style="padding:0px;" >


            <div class="row">        
                <div class="col-md-3 unido" >
                    <div class="styled-select">
                        <select name="modelo_usado" id="modelo_usado" class="form-control select-filtro selectcmb">
                            <option class="style-option" value="">Modelo</option>
                          
                        </select>
                    </div>
                </div>
                <div class="col-md-3 unido" >
                    <div class="styled-select">
                        <select name="anio_usado" id="anio_usado" class="form-control select-filtro selectcmb">
                            <option class="style-option" value="">Año</option>
                           
                        </select>
                    </div>
                </div>
                <div class="col-md-3 unido" >
                    <div class="styled-select">
                        <select name="precio_usado" id="precio_usado" class="form-control select-filtro selectcmb" style=" border-right: 1px solid #ccc;">
                            <option class="style-option" value="">Precio</option>
                          
                        </select>
                    </div>
                </div>

                
                <div class="col-md-3" style="border-bottom: 1px solid #ccc;">
                    <input type="submit" style="margin-bottom:4px;" class="btn btn-buscar-filtro" value="Buscar" />
                   
                </div>

            </div>
        </form>

        <div class="col-md-1 bloque-vacio">

        </div>