<div id="footer">
	<div class="container" style="padding-top:20px;">
		<div class="row" style="padding-top: 10px;padding-bottom: 10px;">
			<div class="col-md-3 pull-left">
				<p class="text-footer">Empresa</p>
				<p class="links-footer"><a href="#">Quienes Somos</a><br />
				<a href="#">Test Drive</a><br />
				<a href="#">Certificado Toyocosta</a></p>
			</div>
			<div class="col-md-3 pull-left">
				<p class="text-footer">Productos</p>
				<p class="links-footer">Autos<br />
				<a href="#">Camionetas</a><br />
				<a href="#">Suv</a><br />
				<a href="#">H&iacute;bridos</a><br />
				<a href="#">Montacargas</a><br />
				<a href="#">Pilleri</a><br />
				<a href="#">Seminuevos</a></p>
			</div>
			<div class="col-md-3 pull-left">
				<p class="text-footer">Servicios</p>
				<p  class="links-footer">
				<a href="#">Repuestos y Accesorios</a><br />
				<a href="#">Citas de Mantenimiento</a></p>
			</div>
			<div class="col-md-3 pull-left">
				<p class="text-footer">Redes Sociales</p>
				<div class="face-icon">
					<p class="links-footer" style="padding-left: 32px;">
						<a href="http://www.facebook.com/toyocosta">Hazte Fan</a>
					</p>
				</div>
				<div class="tweet-icon">
					<p class="links-footer" style="padding-left: 32px;">
						<a href="http://twitter.com/toyocosta">Siguenos</a>
					</p>
				</div>
				<div class="blog-icon">
					<p class="links-footer" style="padding-left: 32px;">
						<a href="http://www.toyocosta.com/blog/">Blog</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row" style="padding-bottom:15px;">
			<h1 class="copy-footer" style="margin-top:0px;margin-bottom:35px;">COPYRIGHT @2014 TOYOCOSTA ALL RIGHTS RESERVED</h1>
		</div>
	</div>
</div>

<div class="banners-foot navbar-fixed-bottom">
	
	<div class="container">
		<div style="cursor:pointer;" class="col-md-2" onclick="mostrarBanners();">

			<div id="mas">
				{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Iconos/mas.png' %}
				<img src="{{ asset_url }}" alt="" class=""/>
		        {% endimage %}
			</div>
			<div id="cerrar" style="display:none;">
				{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Iconos/cerrar.png' %}
				<img src="{{ asset_url }}" alt="" class=""/>
		        {% endimage %}
			</div>

		</div>

	</div>
	
	<div id="banners" class="row footer-banners border-rojo">
		<div class="container">
			<div class="row logo-toyota">
				<div class="pull-right">
					<a href="http://www.toyota.com.ec/">
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/toyota.png' %}
						<img src="{{ asset_url }}" alt="" class=""/>
				        {% endimage %}
					</a>
				</div>
			</div>
			<div class="row accesos">
				<div class="col-md-2">
					<a href="#"><div class="exonerados-footer"></div></a>
				</div>
				<div class="col-md-2">
					<a href="#"><div class="cita-footer"></div></a>
				</div>
				<div class="col-md-2">
					<a href="#"><div class="avaluo-footer"></div></a>
				</div>
				<div class="col-md-2">
					<a href="#"><div class="montacargas-footer"></div></a>
				</div>
				<div class="col-md-2">
					<a href="#"><div class="seminuevos-footer"></div></a>
				</div>
			</div>
		</div>
	</div>
</div>