<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Toyocosta::Montacargas</title>



        {% include 'CelmediaToyocostaVehiculosBundle:Default:includes.html.twig' %}

        <link rel="stylesheet" href="{{ asset('bundles/celmediatoyocostavehiculos/css/style-montacargas.css') }}" type="text/css" media="all" />


        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    </head>
    <body>
        {% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}
       
        {% block contenido %}
            
        {% endblock %}

        {% include 'CelmediaToyocostaPirelliBundle:Blocks:footer.html.twig' %}
        
        {% include 'CelmediaToyocostaVehiculosBundle:Default:libs.html.twig' %}


        <script type="text/javascript" src="{{ asset('bundles/celmediatoyocostavehiculos/js/script-montacargas.js') }}" ></script>
 
    
        
        {% block js %}

        {% endblock %}
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22594492-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script> 

    </body>
</html>